@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: roboto, sans-serif;
    margin: 0;
    height: 100vh;
    flex: 0 1 100%;
    font-size: 18px;
}

/* code header */

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    height: 30px;
    max-height: 100px;
    flex: 1 1 auto;
    gap: 20px;

}

.left-head {
    display: flex;
    color: #F9FAF8;
    min-width: 200px;
    max-width: 600px;
    font-size: 24px;
    font-weight: bold;
    flex: 1 0 auto;
}

a {
    color: #E5E7EB; 
    text-decoration: none;
}

.right-head {
    display: flex;
    justify-content: flex-end;
    min-width: 400px;
    max-width: 600px;
    flex: 1 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

/* code b1 */


.b1 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 1 auto;
}

.b1-left {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    min-width: 400px;
    max-width: 600px;
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
}

.text1.b1 {
    display: flex;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.text2.b1 {
    display: flex;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.button.b1 {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 38px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 50px;
}

img {
    display: flex;
    flex: 1 1 auto;
    min-width: 200px;
    max-width: 600px;
}

/* code b2 */
.b2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

.b2 p {
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}

.b2-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 50px;
}

.container.b2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 175px;
    gap: 8px;
}

.box {
    height: 175px;
    width: 175px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    color: #1F2937;
}


/* code b3 */
.b3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex: 1 1 auto;
    padding-top: 40px;
}

.b3.text1 {
    
    display: flex;
    align-items: center;
    text-align:justify;
    width: 825px;
    color: #1F2937;
    font-weight: lighter;
    font-size: 36px;
    font-style: italic; 
}

.b3.text2 {
    display: flex;
    width: 720px;
    justify-content:start;
    align-items: end;
    padding-top: 0px;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}


/* code b4 */

.b4.container {
    display: flex;
    background-color: #3882F6;
    flex: 1 1 auto;
    border-radius: 8px;
    max-width: 1250px;
    min-width: 850px;
    margin: 40px;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    padding:30px;
    color: #F9FAF8;
    
}

.b4.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0px;
    padding:0px;
}

.b4.text1 {
    font-size: 24px;
    font-weight: bold;
}

#button-b4 {
    color:#F9FAF8;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    padding: 5px 20px;
    border-radius: 8px;
}

#button-b4:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

/* code footer */

.footer {
    display: flex;
    background-color: #1F2937;
    color: #e5e7e5;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    max-height: 120px;
}